@font-face {
  font-family: "Kokoro";
  src: url("../fonts/Kokoro-min.ttf") format("truetype");
}

@font-face {
  font-family: "ShipporiMincho";
  src: url("../fonts/ShipporiMincho-min.ttf") format("truetype");
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-up {
  animation: fadeInUp 0.4s ease-out forwards;
}

body {
  font-family: "ShipporiMincho-Regular", sans-serif;
  background-color: #f2f2f2;
  background-image: linear-gradient(to right, #e2e2e2 1px, transparent 1px),
    linear-gradient(to bottom, #ccc 1px, transparent 1px);
  background-size: 30px 30px; /* 背景網格保留 */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: 100%;
}

h1 {
  font-family: "Kokoro", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  color: #333333;
  top: 10px;
  padding: 1rem;
  width: 100%;
}

main {
  width: 100%;
}

.question-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #ffffff; /* 白色背景 */
  border: 1px solid #cccccc; /* 灰色邊框 */
  border-radius: 15px;
}

.question-block p {
  font-size: 1.5rem;
  color: #333333; /* 深灰色字體 */
  line-height: 1.5;
}

.question-block button {
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #f5f5dc; /* 米黃色 */
  border: 1px solid #333333; /* 深灰邊框 */
  color: #333333; /* 深灰字體 */
  border-radius: 8px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.question-block button:hover {
  background-color: #cdedf9; /* 強調色 */
  color: #000000;
}

ul {
  list-style-type: none;
  padding: 0;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  background-color: #cdedf9;
  font-size: 1.75rem;
}

.represent {
  text-decoration: underline;
}

img {
  max-width: 100%;
  max-height: 60vh;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

#copyright {
  font-size: 0.8rem;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  color: #777777;
}

/* 手機樣式調整 */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .question-block p {
    font-size: 1.1rem;
  }

  .question-block button {
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
  }

  .card-title {
    font-size: 1.5rem;
  }
}
